@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #10B981;
  --color-background: #F3F4F6;
  --color-foreground: #111827;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
